# Git
.git
.gitignore

# Entorno y Secretos
.env
.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.pytest_cache/

# Logs
*.log

# Editors
.vscode/
.idea/

# Otros
.DS_Store
*.swp
*.tmp