# Configuración de Puertos (Host)
FRONTEND_PORT=xxxx
BACKEND_PORT=xxxx
PORTAINER_PORT=xxxx

# Configuración de Base de Datos (PostgreSQL)
POSTGRES_USER=usuario
POSTGRES_PASSWORD=contrasena
POSTGRES_DB=nombre_base_datos
POSTGRES_HOST= host
POSTGRES_PORT=xxx
