# Git
.git
.gitignore

# Entorno y secretos
.env
.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.pytest_cache/

# Logs
*.log

# Editor
.vscode/
.idea/

# Otros
.DS_Store
*.swp
*.tmp